<!--Cards de Bootstrap obtenidas de https://codepen.io/nikki-peel/pen/RwavQer-->

<div class="container mx-auto mt-4">    
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'meet&coffee.gif', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Meet & Coffee</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                <a href="#" class="btn "> Github</a>
            </div>
        </div>
    </div>    
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'iguanapage.gif', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Iguana Page</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> Visit Site</a>
                <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
            </div>
        </div>
    </div>    
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'viajeschile.gif', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Viajes Chile</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
            </div>
        </div>
    </div>
</div>
 